.txtnimg-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* grid-template-rows: repeat(8, 0.5fr); */
  grid-gap: 15px;
}

.grid-order-reverse .txt-container {
  /* grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4; */
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-end: 8;
}

.grid-order-reverse .image-two {
  /* grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-end: 8; */
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.grid-order-reverse .image-one {
  /* grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3; */
  grid-column-start: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-end: 8;
}

.grid-order-reverse .image-three {
  /* grid-column-start: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-end: 8; */
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

@media (max-width: 480px) {
  .txtnimg-grid {
    display: FLEX;
    flex-direction: column;
  }
  .grid-order-reverse {
    flex-direction: column-reverse !important;
  }
}
